In [1]:
# Run only if you have errors loading the topquartile module

from pathlib import Path
import sys

root = Path().resolve().parent.parent.parent.parent
sys.path.append(root)

In [2]:
from topquartile.modules.datamodule.dataloader import DataLoader
from topquartile.modules.datamodule.transforms.covariate import (TechnicalCovariateTransform,
                                                                 FundamentalCovariateTransform)
from topquartile.modules.datamodule.transforms.label import BinaryLabelTransform

In [3]:
covtrans_config = [((TechnicalCovariateTransform, dict(sma = [20, 30],
                                                       ema = [20, 30],
                                                       momentum_change=True,
                                                       volatility = [20, 30],)))]

labeltrans_config = [(BinaryLabelTransform, dict(label_duration=20,
                                                quantile=0.9))]

In [6]:
data = DataLoader(data_id='dec2024', covariate_transform=covtrans_config,
                  label_transform=labeltrans_config).transform_data()

Reading data from: /Users/gregruyoga/gmoneycodes/topquartile/topquartile/data/dec2024.csv
Found 342 raw ticker names.
 Applying TechnicalCovariateTransform with params {'sma': [20, 30], 'ema': [20, 30], 'momentum_change': True, 'volatility': [20, 30]}
 Applying BinaryLabelTransform with params {'label_duration': 20, 'quantile': 0.75}

/Users/gregruyoga/gmoneycodes/topquartile/topquartile/modules/datamodule/transforms/label.py:171: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_copy.groupby(level=self.ticker_level_name, group_keys=False)[self.price_column]

Warning: 510 NaN values found in index returns after aligning to DataFrame dates.

                   EQY_DVD_YLD_IND  PX_HIGH   PX_LOW  RETURN_COM_EQY  \
ticker Dates
AALI   2014-01-01           2.4502  23917.0  23488.0         19.0384
       2014-01-04           2.3496  25727.0  24822.0         22.2612
       2014-01-05           1.7517  28014.0  27633.0         22.2612
       2014-01-07           1.8864  26847.0  25989.0         24.9041
       2014-01-08           1.9288  25513.0  25322.0         24.9041
...                            ...      ...      ...             ...
WSKT   2024-12-06           0.3200    212.0    199.0        -65.9300
       2024-12-07           0.3200    212.0    199.0        -75.3652
       2024-12-08           0.3200    212.0    199.0        -75.3652
       2024-12-09           0.3200    212.0    199.0        -75.3652
       2024-12-11           0.3200    212.0    199.0        -91.2760

                   PX_TO_BOOK_RATIO  NEWS_SENTIMENT_DAILY_AVG  \
ticker Dates
AALI   2014-01-01            3.9947                    0.2483
       2014-01-04            3.8670                    0.0000
       2014-01-05            4.3434                    0.4277
       2014-01-07            4.0237                   -0.3785
       2014-01-08            3.9353                    0.6030
...                             ...                       ...
WSKT   2024-12-06            0.6671                    0.1068
       2024-12-07            0.6671                    0.0000
       2024-12-08            0.6671                    0.0000
       2024-12-09            0.6671                    0.0000
       2024-12-11            0.6671                    0.0000

                   NEWS_HEAT_PUB_DAVG  TOT_DEBT_TO_TOT_EQY   VWAP_VOLUME  \
ticker Dates
AALI   2014-01-01                 0.0              26.5191  1.065224e+06
       2014-01-04                 0.0              22.7245  1.671720e+06
       2014-01-05                 0.0              22.7245  9.592266e+05
       2014-01-07                 0.0              29.0470  1.071521e+06
       2014-01-08                 0.0              29.0470  1.588496e+06
...                               ...                  ...           ...
WSKT   2024-12-06                 0.0             597.7109  1.855330e+07
       2024-12-07                 0.0             703.5615  1.855330e+07
       2024-12-08                 0.0             703.5615  1.855330e+07
       2024-12-09                 0.0             703.5615  1.855330e+07
       2024-12-11                 2.0             793.4628  1.855330e+07

                   EQY_WEIGHTED_AVG_PX  ...  ema_20  ema_30  volatility_20  \
ticker Dates                            ...
AALI   2014-01-01           23731.7451  ...     NaN     NaN            NaN
       2014-01-04           25133.5795  ...     NaN     NaN            NaN
       2014-01-05           27873.7503  ...     NaN     NaN            NaN
       2014-01-07           26272.7319  ...     NaN     NaN            NaN
       2014-01-08           25410.9068  ...     NaN     NaN            NaN
...                                ...  ...     ...     ...            ...
WSKT   2024-12-06             202.0616  ...   202.0   202.0            0.0
       2024-12-07             202.0616  ...   202.0   202.0            0.0
       2024-12-08             202.0616  ...   202.0   202.0            0.0
       2024-12-09             202.0616  ...   202.0   202.0            0.0
       2024-12-11             202.0616  ...   202.0   202.0            0.0

                   volatility_30  roc_126  momentum_change  20d_stock_return  \
ticker Dates
AALI   2014-01-01            NaN      NaN              NaN        -14.044404
       2014-01-04            NaN      NaN              NaN        -17.958382
       2014-01-05            NaN      NaN              NaN        -26.957950
       2014-01-07            NaN      NaN              NaN         -9.706685
       2014-01-08            NaN      NaN              NaN         -3.368578
...                          ...      ...              ...               ...
WSKT   2024-12-06            0.0      0.0              0.0               NaN
       2024-12-07            0.0      0.0              0.0               NaN
       2024-12-08            0.0      0.0              0.0               NaN
       2024-12-09            0.0      0.0              0.0               NaN
       2024-12-11            0.0      0.0              0.0               NaN

                   INDEX_RETURN  EXCESS_RETURN  label
ticker Dates
AALI   2014-01-01           NaN            NaN   <NA>
       2014-01-04           NaN            NaN   <NA>
       2014-01-05           NaN            NaN   <NA>
       2014-01-07      5.960594     -15.667279      0
       2014-01-08      6.334160      -9.702738      0
...                         ...            ...    ...
WSKT   2024-12-06           NaN            NaN   <NA>
       2024-12-07           NaN            NaN   <NA>
       2024-12-08           NaN            NaN   <NA>
       2024-12-09           NaN            NaN   <NA>
       2024-12-11           NaN            NaN   <NA>

[325356 rows x 39 columns]