In [1]:
import pandas as pd
import numpy as np
from topquartile.modules.datamodule.dataloader import DataLoader
from topquartile.modules.datamodule.transforms.covariate import (TechnicalCovariateTransform, FundamentalCovariateTransform)
from topquartile.modules.datamodule.transforms.label import BinaryLabelTransform, ExcessReturnTransform
from topquartile.modules.datamodule.partitions import PurgedTimeSeriesPartition
from topquartile.modules.evaluation import Evaluation

In [2]:
covtrans_config = [((TechnicalCovariateTransform, dict(sma = [20, 30],
                                                       ema = [20, 30],
                                                       momentum_change=True,
                                                       volatility = [20, 30],)))]

labeltrans_config = [(ExcessReturnTransform, dict(label_duration=20))]

partition_config = dict(n_splits=5, gap=20, max_train_size=504, test_size=60, verbose=False)

dataloader = DataLoader(data_id='covariates_may2025v2', covariate_transform=covtrans_config,
                  label_transform=labeltrans_config, partition_class=PurgedTimeSeriesPartition,
                  partition_kwargs=partition_config)

In [3]:
data = dataloader.transform_covariates()

Reading data from: /Users/gregruyoga/gmoneycodes/topquartile/topquartile/data/covariates_may2025v2.csv
Found 134 raw ticker names.
 Applying TechnicalCovariateTransform with params {'sma': [20, 30], 'ema': [20, 30], 'momentum_change': True, 'volatility': [20, 30]}
THIS IS COLUMNS Index(['TOTAL_EQUITY', 'BOOK_VAL_PER_SH', 'REVENUE_PER_SH', 'RETURN_COM_EQY',
       'CUR_MKT_CAP', 'PX_LAST', 'TOT_DEBT_TO_TOT_ASSET',
       'TOT_DEBT_TO_TOT_EQY', 'BS_TOT_LIAB2', 'BS_TOT_ASSET', 'IS_EPS',
       'PX_HIGH', 'PX_LOW', 'PX_CLOSE_1D', 'PX_VOLUME', 'TURNOVER', 'ticker',
       'DVD_SH_12M'],
      dtype='object')
Applying label transformations globally to the dataset (before partitioning).
 Applying ExcessReturnTransform with params {'label_duration': 20} (globally)
ihsg index DatetimeIndex(['2015-04-27', '2015-04-28', '2015-04-29', '2015-04-30',
               '2015-01-05', '2015-04-05', '2015-05-05', '2015-06-05',
               '2015-07-05', '2015-08-05',
               ...
               '2025-05-13', '2025-05-14', '2025-05-15', '2025-05-16',
               '2025-05-19', '2025-05-20', '2025-05-21', '2025-05-22',
               '2025-05-23', '2025-05-26'],
              dtype='datetime64[ns]', name='Dates', length=2631, freq=None)
df index MultiIndex([('ADHI', '2015-01-05'),
            ('ADHI', '2015-01-06'),
            ('ADHI', '2015-01-07'),
            ('ADHI', '2015-01-09'),
            ('ADHI', '2015-01-10'),
            ('ADHI', '2015-01-12'),
            ('ADHI', '2015-02-06'),
            ('ADHI', '2015-02-07'),
            ('ADHI', '2015-02-09'),
            ('ADHI', '2015-02-10'),
            ...
            ('UNVR', '2025-10-01'),
            ('UNVR', '2025-10-02'),
            ('UNVR', '2025-10-03'),
            ('UNVR', '2025-10-04'),
            ('UNVR', '2025-11-02'),
            ('UNVR', '2025-11-03'),
            ('UNVR', '2025-11-04'),
            ('UNVR', '2025-12-02'),
            ('UNVR', '2025-12-03'),
            ('UNVR', '2025-12-05')],
           names=['ticker', 'Dates'], length=223635)

/Users/gregruyoga/gmoneycodes/topquartile/topquartile/modules/datamodule/transforms/label.py:51: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  self.ihsg.index = pd.to_datetime(self.ihsg.index)
/Users/gregruyoga/gmoneycodes/topquartile/topquartile/modules/datamodule/transforms/label.py:68: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  .groupby(level='ticker', group_keys=False)['PX_LAST']

In [6]:
len(data['index_returns_20'])

223635

In [8]:
data

                  TOTAL_EQUITY  BOOK_VAL_PER_SH  REVENUE_PER_SH  \
ticker Dates
ADHI   2015-01-05          NaN              NaN             NaN
       2015-01-06          NaN              NaN             NaN
       2015-01-07          NaN              NaN             NaN
       2015-01-09          NaN              NaN             NaN
       2015-01-10          NaN              NaN             NaN
...                        ...              ...             ...
UNVR   2025-11-03          NaN              NaN             NaN
       2025-11-04          NaN              NaN             NaN
       2025-12-02          NaN              NaN             NaN
       2025-12-03          NaN              NaN             NaN
       2025-12-05          NaN              NaN             NaN

                   RETURN_COM_EQY   CUR_MKT_CAP  PX_LAST  \
ticker Dates
ADHI   2015-01-05             NaN           NaN      NaN
       2015-01-06             NaN  4.404227e+06   1900.0
       2015-01-07             NaN  3.674693e+06   1585.0
       2015-01-09             NaN  3.458534e+06   1492.0
       2015-01-10             NaN  7.246328e+06   1863.0
...                           ...           ...      ...
UNVR   2025-11-03             NaN  5.150250e+07   1350.0
       2025-11-04             NaN  4.749675e+07   1245.0
       2025-12-02             NaN  6.447350e+07   1690.0
       2025-12-03             NaN  4.921350e+07   1290.0
       2025-12-05             NaN  5.436375e+07   1425.0

                   TOT_DEBT_TO_TOT_ASSET  TOT_DEBT_TO_TOT_EQY  BS_TOT_LIAB2  \
ticker Dates
ADHI   2015-01-05                    NaN                  NaN           NaN
       2015-01-06                    NaN                  NaN           NaN
       2015-01-07                    NaN                  NaN           NaN
       2015-01-09                    NaN                  NaN           NaN
       2015-01-10                    NaN                  NaN           NaN
...                                  ...                  ...           ...
UNVR   2025-11-03                    NaN                  NaN           NaN
       2025-11-04                    NaN                  NaN           NaN
       2025-12-02                    NaN                  NaN           NaN
       2025-12-03                    NaN                  NaN           NaN
       2025-12-05                    NaN                  NaN           NaN

                   BS_TOT_ASSET  ...  sma_30       ema_20       ema_30  \
ticker Dates                     ...
ADHI   2015-01-05           NaN  ...     NaN          NaN          NaN
       2015-01-06           NaN  ...     NaN          NaN          NaN
       2015-01-07           NaN  ...     NaN          NaN          NaN
       2015-01-09           NaN  ...     NaN          NaN          NaN
       2015-01-10           NaN  ...     NaN          NaN          NaN
...                         ...  ...     ...          ...          ...
UNVR   2025-11-03           NaN  ...     NaN  1519.210815  1521.143811
       2025-11-04           NaN  ...     NaN  1493.095499  1503.328082
       2025-12-02           NaN  ...     NaN  1511.848309  1515.371431
       2025-12-03           NaN  ...     NaN  1490.719899  1500.831339
       2025-12-05           NaN  ...     NaN  1484.460861  1495.938994

                   volatility_20  volatility_30    roc_126 momentum_change  \
ticker Dates
ADHI   2015-01-05            NaN            NaN        NaN             NaN
       2015-01-06            NaN            NaN        NaN             NaN
       2015-01-07            NaN            NaN        NaN             NaN
       2015-01-09            NaN            NaN        NaN             NaN
       2015-01-10            NaN            NaN        NaN             NaN
...                          ...            ...        ...             ...
UNVR   2025-11-03            NaN            NaN -22.190202       13.550539
       2025-11-04            NaN            NaN -29.261364        5.066995
       2025-12-02            NaN            NaN  -2.873563       41.357206
       2025-12-03            NaN            NaN -29.315068        4.561743
       2025-12-05            NaN            NaN -59.631728     -107.330473

                   eq_returns_20  index_returns_20  excess_returns_20
ticker Dates
ADHI   2015-01-05            NaN               NaN                NaN
       2015-01-06     -14.947368         -6.353082          -8.594287
       2015-01-07      31.735016         -3.730417          35.465433
       2015-01-09      34.115282         -5.304321          39.419603
       2015-01-10      14.653784          5.103439           9.550345
...                          ...               ...                ...
UNVR   2025-11-03            NaN         -8.397809                NaN
       2025-11-04            NaN          9.111409                NaN
       2025-12-02            NaN          0.289913                NaN
       2025-12-03            NaN        -10.458399                NaN
       2025-12-05            NaN               NaN                NaN

[223635 rows x 29 columns]

In [ ]:
ffill_features = ['TOTAL_EQUITY', 'BOOK_VAL_PER_SH', 'REVENUE_PER_SH', 'RETURN_COM_EQY', 'TOT_DEBT_TO_TOT_ASSET', 'TOT_DEBT_TO_TOT_EQY', 'BS_TOT_LIAB2',
                  'BS_TOT_ASSET', 'IS_EPS']

In [ ]:
ihsg = pd.read_csv(dataloader.covariates_path.parent / 'ihsg_may2025.csv', index_col=0)

In [ ]:
ihsg

In [ ]:
def _calculate_returns(self, series: pd.Series) -> pd.Series:
    future_price = series.shift(-self.label_duration)
    returns = ((future_price - series) / series) * 100
    return returns

In [ ]:
label_duration = 20
bbca = data[data['ticker']=='BBCA']
ihsg[f'{label_duration}dayret'] =

In [ ]:
%%sql

In [ ]:
bbca